NET "Clk"                  		LOC = V10     | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz ;
NET "UART_Tx"                    LOC = B8      |  IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "UART_Rx"                    LOC = A8      |  IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;