
# PlanAhead Generated physical constraints 

NET "A[0]" LOC = E18;
NET "A[1]" LOC = E16;
NET "A[2]" LOC = F18;
NET "A[3]" LOC = F17;

# PlanAhead Generated IO constraints 

NET "A[3]" PULLUP;
NET "A[2]" PULLUP;
NET "A[1]" PULLUP;
NET "A[0]" PULLUP;

# PlanAhead Generated physical constraints 

NET "B[0]" LOC = C17;
NET "B[1]" LOC = C18;
NET "B[2]" LOC = D17;
NET "B[3]" LOC = D18;

# PlanAhead Generated IO constraints 

NET "B[3]" PULLUP;
NET "B[2]" PULLUP;
NET "B[1]" PULLUP;
NET "B[0]" PULLUP;

# PlanAhead Generated physical constraints 

NET "out[0]" LOC = A3;
NET "out[1]" LOC = B4;
NET "out[2]" LOC = A4;
NET "out[3]" LOC = C4;
NET "out[4]" LOC = C5;
NET "out[5]" LOC = D6;
NET "out[6]" LOC = C6;
NET "en" LOC = M18;
NET "enable1" LOC = B2;
NET "enable2" LOC = A2;
NET "enable3" LOC = B3;

# PlanAhead Generated IO constraints 

NET "en" PULLUP;
