.bill{
    width: 34%;
    border: 3px solid;
    padding: 40px 5px;
}
table{
    background-color: rgb(251, 251, 223);
    
}
caption{
    color: green;
    font-weight: bold;
}
th{
    background-color: rgb(225, 244, 255);
    padding: 20px 5px;
}
td{
    text-align: center;
    padding: 5px 0px;
}
input{
    width: 38px;
}
button{
    background-color: rgb(252, 233, 236); 
    font-weight: bolder; 
    color: red; 
    border-color: rgb(252, 233, 236); 
    padding: 5px 3px;
}