*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 180px;
    width: 100%;
    background-color: rgb(195, 188, 188);
    position:absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
.container1,.container3{
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container2{
    list-style: none;
}

