.container{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border: 2px solid red;
}
.sq1{
    background-color:blue;
}
.sq2{
    background-color: red;
    
}
.sq1,.sq2{
    width: 40px;
    height: 40px;
}
